<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleIdentifier</key>
        <string>edu.washington.gs.evolution.dnapars</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>dnapars.command</string>
        <key>CFBundleIconFile</key>
        <string>dnapars.icns</string>
        <key>CFBundleName</key>
        <string>dnapars</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>3.69</string>
        <key>CFBundleShortVersionString</key>
        <string>3.69</string>
        <key>CFBundleGetInfoString</key>
        <string>dnapars version 3.69, (c) 2006 University of Washington</string>
        <key>CFBundleLongVersionString</key>
        <string>3.69, (c) 2006 University of Washington</string>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright 2006 University of Washington</string>
        <key>LSRequiresCarbon</key>
        <true/>
        <key>CSResourcesFileMapped</key>
        <true/>
</dict>
</plist>

